[submodule "External/imnodes"]
	path = External/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "External/stb_full"]
	path = External/stb_full
	url = https://github.com/dunyazad/stb_full.git
[submodule "External/RxTx"]
	path = External/RxTx
	url = https://github.com/dunyazad/RxTx.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/PX4/eigen.git
